@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: black;
    color: green;
    padding: 12px 3px;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: red;
    margin: 0 23px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bolder;
}

ul {
    display: flex;
    margin: 0 23px;
    align-items: center;
}

ul > li {
    list-style: none;
    margin: 0 13px;
    cursor: pointer;
}

ul > li:hover{
    color: white;

}
p{
    color: #ae6060;
    margin: 0 9px;
    size: 8cm;
}
table, td, tr{
    border: 2px solid rgb(76, 65, 65);
    border-collapse: collapse;
    padding: 5px 13px;
    color: rgb(2, 127, 17);
    margin: 50px 280px;
    text-align: center;
}


.container {
    max-width: 80vw;
    margin: 23px auto;
}

h1{
    color : green;
    font-family: sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 60px;
    text-align : center;
    margin: 60px;
}

h2 {
   text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin: 0 90px;
    font-variant: small-caps;
   
}

.btn{
    padding: 8px 17px;
    background: black;
    color: rgb(4, 179, 57);
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 25px 200px;
    cursor: pointer;
}

.btnsm{ 
    padding: 8px 17px;
    background: black;
    color: rgb(255, 0, 0);
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px; 
    cursor: pointer;
}

img{
    cursor: pointer;
    position: relative;
    bottom: 7px;
    width: 15px;
    height: 13px;
}
label{
color: rgb(0, 112, 9);
margin: 40px 62px;
text-justify: inter-cluster;
font-size: 16px;
align-content: center;
-moz-box-align: center;
}
